body{
    background-image: url(a.jpg)
    }

div{
   background-color: hsla(120, 100%, 75%, 0.3);
   text-align: center;
}

p{
 font-size: 15pt;
 }

h1{
   color: white;
   background: #F7883B;
   font-size: 15pt;
  }
